/* Tablet: 2 columns */
@media screen and (min-width: 768px) and (max-width: 991px) {
    .col-md-3 {
        width: 50% !important;
        flex: 0 0 50% !important;
    }
    
    .col-md-6 {
        width: 100% !important;
        flex: 0 0 100% !important;
    }
    
    .services .functionalities .tabs_function {
        padding: 0 40px;
    }
    
    .engagements .col-md-6 {
        width: 100% !important;
        padding: 0 40px !important;
    }
    
    .chiffre_boti .item-chiffre {
        margin-bottom: 30px;
    }
    
    .button-funtion {
        flex-wrap: wrap;
    }
    
    .button-funtion button {
        flex: 0 0 calc(50% - 10px);
    }
}

/* Mobile: 1 column */
@media screen and (max-width:767px) {
    .mobile_order1{
        order: 1;
    }
    .mobile_order2{
        order: 2;
    }
    
    /* Make all columns full width on mobile */
    .col-md-3,
    .col-md-4,
    .col-md-6,
    .col-md-8,
    .col-md-12 {
        width: 100% !important;
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }
    
    .navbar-nav .nav-link {
        margin-right: 0;
        text-align: center;
        border-bottom: 1px solid;
    }
    .btn_demo{
        text-align: center;
        margin-top: 15px;
    }
    .tag_exp_header h2{
            font-size: 38px !important;
    }
    .banner_home {
        padding: 22px 0;
    }
    .banner_home_left{
        text-align: center;
        padding: 0 40px;
    }
    .banner_home .banner_home_left h1{
        font-size: 26px;
    }
    .pill {
        font-size: 9px;
        margin-bottom: 20px;
    }
    .partners {
        padding: 40px 10px;
    }
    .partners_img img {
        width: 50px;
    }
    .services .experience {
        padding-top: 10px;
    }
    .services .experience .card_exp {
        box-shadow: 0 3px 21px 0 #00000014;
        text-align: center !important;
        border: 1px solid #0000000d;
        margin-bottom: 30px;
    }
    .services .functionalities {
        margin-top: 30px;
    }
    .services .functionalities .tabs_function {
        padding: 0 40px 0 40px;
    }
    .button-funtion{
        display: flex;
        flex-direction: column;
        padding: 0 20px;
        gap: 12px;
    }
    .button-funtion button{
        margin: 0 !important;
    }
    .services .functionalities .tabs_function h3 {
        font-size: 25px;
    }
    .engagment-first-col {
        padding: 0 40px 0 40px;
    }
    .engagements .col-md-6 {
        padding: 0 40px !important;
    }
    .engagements img {
        margin-top: 30px;
    }

    .Références .tag_exp_header p {
        font-size: 24px;
    }
    .chiffre_boti {
        padding: 0px 0;
        background-image: none;
    }   
    .chiffre_boti .row .item-chiffre {
        text-align: center;
        margin-bottom: 35px;
    }   
    .boti_function {
        padding-top: 30px;
    }
    .boti_function_content_text {
        padding: 0 40px;
        text-align: center;
    }
    .boti_function .tag_exp_header h2 {
        margin: 25px 0 25px 0;
    }
    .boti_function_content_text h2 {
        margin: 15px 0;
        font-size: 35px;
    }
    .contact-cards {
        background-image: none;
        padding: 0 30px;
    }
    .footer .logo-div h2 {
        color: #241759;
        font-size: 27px;
        font-weight: 700;
        text-align: center;
    }
    
    .footer .row {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    
    .footer .col {
        width: 100%;
    }
    
    .footer .logo-div {
        grid-column: 1 / -1;
        margin-bottom: 20px;
    }

    /* stepper */
    .cards-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr) !important;
    }
    .step-2 .cards_stepper {
        width: 165px;
    }
    .experience_cards{
        padding: 0 30px;
    }
}